$primary-color: #f6f6f6;
body {
    background: $primary-color;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    overflow: hidden;
    background: #fff;
}

.main {
    margin-top: 72px;
    .main-header {
        background: #fff;
        margin-bottom: 4px;
    }
    .main-content {
        width: 1000px;
        margin: 0 auto;

        display: flex;
        align-items: flex-start;

        .article {
            flex: 1;
            height: 3000px;
            margin-right: 5px;
        }

        aside {
            width: 300px;

            .card {
                width: 300px;   // 元素被设置 为 fixed 时，会发生宽度坍塌
                height: 500px;
            }

        }
    }
}

.headers-container {
    width: 1000px;
    margin: 0 auto;
    .header-line {
        display: flex;
        height: 70px; // 人为只，为了更换header 方便
        .header-line-left {
            flex: 1;
            display: flex;
            align-items: center;
            ul {
                display: flex;
                li {
                    width: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                li:hover {
                    border-bottom: 3px solid #0084ff;
                }
            }
        }
        .header-line-right {
            display: flex;
            align-items: center;
            .buttons-wrapper {
                display: flex;
                align-items: center;
            }
        }
    }
}

.card {
    background: #fff;
    border-radius: 2px;
}


#goBack {
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
}

.button {
    display: inline-block;
    text-align: center;
    height: 20px;
    line-height: 20px;
    background: #0084ff;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-outline {
    background: #fff;
    color: #0084ff;
    border: 1px solid #0084ff;
}

// box-shadow 复习
.shadow {
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}

// transition 复习
.searchBar__input {
    width: 300px;
    transition: width .5s;
    background: #f6f6f6;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    input {
        width: 100%; // 要和外面的套子 保持宽度一致
    }
}

.searchBar__input--focused {
    width: 400px;
    background: #fff;
    border: 1px solid black;
}

.test {
    display: flex;
    height: 100px;
    align-items: center;

    .test1 {
        flex: 1;
        background: royalblue;
    }
    .test2 {
        width: 50px;
        background: red;
        height: 50px;
    }
}